<header class="app-header">
  <div class="logo-container">
    <img src="league-of-legends-logo.png" alt="Logo" class="logo" />
    <span class="brand-name">League of Legends</span>
  </div>

  <nav class="nav-menu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="exactRouteOptions" class="nav-link">Inicio</a>
    
    <a routerLink="/multiple-rol" routerLinkActive="active" class="nav-link">Personajes</a>
    
    <a href="#" class="nav-link">La comunidad</a>
    <a href="#" class="nav-link">Enlaces externos</a>
    <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contacto</a>
  </nav>

  <div class="actions">
    <button routerLink="/multiple-rol" class="login-btn">Ver Campeones</button>
  </div>
</header>