<header class="navbar-wrapper">
  <div class="brand-identity">
    <img src="league-of-legends-logo.png" alt="Logo" class="brand-logo" />
    <span class="brand-text">League of Legends</span>
  </div>

  <nav class="navigation-links">
    <a routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="exactRouteOptions" class="menu-item">Inicio</a>
    <a routerLink="/multirol" routerLinkActive="active-route" class="menu-item">Personajes</a>
    <a href="#" class="menu-item">La comunidad</a>
    <a href="#" class="menu-item">Enlaces externos</a>
    <a routerLink="/contact" routerLinkActive="active-route" class="menu-item">Contacto</a>
  </nav>

  <div class="navigation-actions">
    <button routerLink="/multirol" class="btn-nav-redirect">Ver Campeones</button>
  </div>
</header>